---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Proyecto from "../components/Proyecto.astro";
import Github from "../components/iconos/Github.astro";
import Whatsapp from "../components/iconos/Whatsapp.astro";
import Mail from "../components/iconos/Mail.astro";
import Llamada from "../components/iconos/Llamada.astro";

const proyectos = {
	gastapp: {
		id: "1",
		id2: "2",
		nombre: "Mis Finanzas",
		descripcion: "App Web para gestionar Ingresos y gastos",
		tecno: ["React", ".Net", "SQl server"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/react.png",
			"https://fermartini.github.io/imggastapp/skills/net.png",
			"https://fermartini.github.io/imggastapp/skills/sql.png",
		],
		pagina: "https://misfinanzasapp.vercel.app/",
		codigo: "https://github.com/fermartini/MisFinanzas",
		img: "https://fermartini.github.io/imggastapp/proyectos/gastapp.png",
		gif: "https://fermartini.github.io/imggastapp/gif/gastapp.gif",
	},
	elpensadero: {
		id: "3",
		id2: "4",
		nombre: "El Pensadero - HP",
		descripcion: "Blog del universo de Harry Potter",
		tecno: ["Astro", "React", "Tailwind"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/astro.png",
			"https://fermartini.github.io/imggastapp/skills/react.png",
			"https://fermartini.github.io/imggastapp/skills/tailwind.png",
		],
		pagina: "https://elpensaderohp.com/es",
		codigo: "https://github.com/fermartini/el-pensadero",
		img: "https://fermartini.github.io/imggastapp/proyectos/elpensadero.png",
		gif: "https://fermartini.github.io/imggastapp/proyectos/elpensadero1.png",
	},
	maxiprograma: {
		id: "5",
		id2: "6",
		nombre: "Martini APP",
		descripcion: "CRUD Gestiona productos",
		tecno: [".Net", "C#", "SQL server"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/net.png",
			"https://fermartini.github.io/imggastapp/skills/c.png",
			"https://fermartini.github.io/imggastapp/skills/sql.png",
		],
		pagina: "https://github.com/fermartini/CatalogoOnlineMaxiPrograma",
		codigo: "https://github.com/fermartini/CatalogoOnlineMaxiPrograma",
		img: "https://fermartini.github.io/imggastapp/proyectos/maxiprograma.png",
		gif: "https://fermartini.github.io/imggastapp/gif/maxi.gif",
	},
	catalogo: {
		id: "7",
		id2: "8",
		nombre: "Catalogo Bric Home",
		descripcion: "Catalogo para una empresa de muebles",
		tecno: ["HTML", "CSS", "JavaScript"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/html.png",
			"https://fermartini.github.io/imggastapp/skills/css.png",
			"https://fermartini.github.io/imggastapp/skills/js.png",
		],
		pagina: "https://brichome.vercel.app/",
		codigo: "https://github.com/fermartini/brichome",
		img: "https://fermartini.github.io/imggastapp/proyectos/catalogo.png",
		gif: "https://fermartini.github.io/imggastapp/gif/catalogo.gif",
	},
};
---

<Layout title="Fernando Martini - Portfolio">
	<main class="">
		<Header />
		<section
			class="h-[95vh] lg:h-screen flex justify-center items-center flex-col relative"
		>
			<div class="mb-5">
				<button
					id="openModal"
					class="relative overflow-hidden border text-white border-red-500 bg-slate-950 rounded-xl py-1 px-2 transition-colors duration-300 ease-in-out hover:text-black hover:bg-red-400 hover:border-red-400"
				>
					<span
						class="absolute inset-0 border-2 border-red-500 transform scale-x-0 hover:scale-x-100 origin-left transition-transform duration-300 ease-in-out"
					></span>
					Descargar CV
				</button>
			</div>

			<div class="flex flex-col items-center">
				<h1 class="text-white text-5xl lg:text-8xl mb-5 text-center">
					Desarrollador
				</h1>
				<h3 class="text-red-500 text-3xl">de software.</h3>
			</div>
			<svg
				fill="#ffffff"
				class="w-8 absolute bottom-0 animate-jump"
				version="1.1"
				id="Layer_1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 0 511.881 511.881"
				xml:space="preserve"
				stroke="#ffffff"
				><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<g>
						<g>
							<g>
								<path
									d="M248.36,263.428c4.16,4.16,10.88,4.16,15.04,0L508.733,18.095c4.053-4.267,3.947-10.987-0.213-15.04 c-4.16-3.947-10.667-3.947-14.827,0l-237.76,237.76L18.173,3.054C13.907-1.106,7.187-0.999,3.027,3.268 c-3.947,4.16-3.947,10.667,0,14.827L248.36,263.428z"
								></path>
								<path
									d="M508.627,248.388c-4.267-4.053-10.773-4.053-14.933,0l-237.76,237.76l-237.76-237.76 c-4.267-4.053-10.987-3.947-15.04,0.213c-3.947,4.16-3.947,10.667,0,14.827l245.333,245.333c4.16,4.16,10.88,4.16,15.04,0 L508.84,263.428C512.893,259.161,512.787,252.441,508.627,248.388z"
								></path>
							</g>
						</g>
					</g>
				</g></svg
			>
		</section>
		<section class="h-full w-fit flex flex-col mx-5 lg:mx-10 xl:mx-60">
			<h2
				class="text-3xl xl:text-8xl font-extrabold text-white pb-10 lg:pb-24"
			>
				PROYECTOS
			</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
				{
					Object.values(proyectos).map(
						({
							nombre,
							descripcion,
							tecno,
							pagina,
							codigo,
							img,
							tecnoImg,
							id,
							id2,
							gif,
						}) => (
							<div class="w-fit">
								<Proyecto
									title={nombre.toUpperCase()}
									description={descripcion}
									tecno={tecno}
									pagina={pagina}
									codigo={codigo}
									img={img}
									tecnoImg={tecnoImg}
									id={id}
									id2={id2}
									gif={gif}
								/>
							</div>
						),
					)
				}
			</div>
		</section>
		<section
			class="w-fit flex flex-col mx-10 mb-22 lg:mx-10 xl:mx-60 lg:mb-36"
		>
			<h2
				class="text-3xl text-nowrap xl:text-8xl font-extrabold text-white pb-10"
			>
				QUIEN ES <span class="text-red-500">FERNANDO</span>?
			</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2">
				<div class="flex flex-col justify-center">
					<p class="text-white text-sm lg:text-xl">
						Soy Técnico en <span
							class="text-red-500">Desarrollo de Software</span
						>, con experiencia real construyendo aplicaciones web completas utilizando .NET, React y SQL Server.
						<p class="text-white text-sm lg:text-xl pt-5">
							Cuento con más de 10 años de experiencia profesional en áreas administrativas, 
lo que me brinda una excelente base en <span class="text-red-500"
								>análisis de datos, procesos y trabajo organizado.</span
							> 
						</p>
					</p>
					<div class="mt-3 lg:mt-10">
						<h3
							class="text-white lg:text-5xl text-3xl lg:mb-5 mb-2"
						>
							Contactame
						</h3>
						<div class="flex gap-3 lg:gap-7">
							<a
								href="mailto:fermartini.dev@gmail.com"
								target="_blank"
								class="p-0 hover:scale-150 transition-transform transition-duration-150"
								><Mail
									clase="text-red-500 hover:text-white w-6 lg:w-8"
								/></a
							>
							<a
								href="https://www.linkedin.com/in/fermartini/"
								target="_blank"
								class="p-0 hover:scale-125 transition-transform transition-duration-150"
								><Llamada
									clase="text-red-500 hover:text-white w-5 lg:w-8"
								/></a
							>
							<a
								href="https://github.com/fermartini"
								target="_blank"
								class="p-0 hover:scale-125 transition-transform transition-duration-150"
							>
								<Github
									clase="text-red-500 hover:text-white w-6 lg:w-8"
								/></a
							>
							<a
								href="https://wa.me/541164618667"
								target="_blank"
								class="p-0 hover:scale-125 transition-transform transition-duration-150"
								><Whatsapp
									clase="text-red-500 hover:text-white w-6 lg:w-8"
								/></a
							>
						</div>
					</div>
				</div>
				<div class="flex justify-center mt-5">
					<img
						src="https://fermartini.github.io/imggastapp/perfil/pertfolio-quien.png"
						alt="Fernando"
						class="rounded-full h-80"
					/>
				</div>
			</div>
		</section>
		<footer>
			<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
				<div
					class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center"
				>
					<span
						class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
						>2024 Desarrollador de Software.
					</span>
				</div>
			</footer>
		</footer>
		<!-- Modal -->
		<div
			id="pdfModal"
			class="fixed inset-0 bg-gray-900 bg-opacity-75 items-center my-10 justify-center hidden"
		>
			<div
				class="relative bg-white rounded-lg m-10 lg:m-52 p-4 w-screen h-screen"
			>
				<!-- Botón de cierre -->
				<button
					id="closeModal"
					class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
					>✕</button
				>

				<!-- Contenido del modal (iframe con PDF) -->
				<iframe src="/CV_Fernando_Martini.pdf" class="w-full h-screen"
				></iframe>
			</div>
		</div>
	</main>

	<script>
		const openModal = document.getElementById("openModal");
		const closeModal = document.getElementById("closeModal");
		const pdfModal = document.getElementById("pdfModal");

		openModal.addEventListener("click", () => {
			pdfModal.classList.remove("hidden");
			pdfModal.classList.add("flex");
		});

		closeModal.addEventListener("click", () => {
			pdfModal.classList.add("hidden");
			pdfModal.classList.remove("flex");
		});

		window.addEventListener("click", (e) => {
			if (e.target == pdfModal) {
				pdfModal.classList.add("hidden");
			}
		});
	</script>

	<style></style>
</Layout>
