---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Proyecto from "../components/Proyecto.astro";
import Github from "../components/iconos/Github.astro";
import Whatsapp from "../components/iconos/Whatsapp.astro";
import Mail from "../components/iconos/Mail.astro";
import Llamada from "../components/iconos/Llamada.astro";

const proyectos = {
	gastapp: {
		nombre: "GastApp",
		descripcion: "App Web para gestionar Ingresos y gastos",
		tecno: ["React", ".Net", "SQl server"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/react.png",
			"https://fermartini.github.io/imggastapp/skills/net.png",
			"https://fermartini.github.io/imggastapp/skills/sql.png",
		],
		pagina: "https://gastapp-omega.vercel.app/",
		codigo: "https://github.com/fermartini/gastapp",
		img: "https://fermartini.github.io/imggastapp/proyectos/gastapp.png",
	},
	maxiprograma: {
		nombre: "Martini APP",
		descripcion: "CRUD Gestiona productos",
		tecno: [".Net", "C#", "SQL server"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/net.png",
			"https://fermartini.github.io/imggastapp/skills/c.png",
			"https://fermartini.github.io/imggastapp/skills/sql.png",
		],
		pagina: "https://github.com/fermartini/CatalogoOnlineMaxiPrograma",
		codigo: "https://github.com/fermartini/CatalogoOnlineMaxiPrograma",
		img: "https://fermartini.github.io/imggastapp/proyectos/maxiprograma.png",
	},
	catalogo: {
		nombre: "Catalogo Bric Home",
		descripcion: "Catalogo para una empresa de muebles",
		tecno: ["HTML", "CSS", "JavaScript"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/html.png",
			"https://fermartini.github.io/imggastapp/skills/css.png",
			"https://fermartini.github.io/imggastapp/skills/js.png",
		],
		pagina: "https://brichome.vercel.app/",
		codigo: "https://github.com/fermartini/brichome",
		img: "https://fermartini.github.io/imggastapp/proyectos/catalogo.png",
	},
	community: {
		nombre: "CM Pablo Aubain",
		descripcion: "Ofrece servicios de Community manager",
		tecno: ["HTML", "CSS", "JavaScript"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/html.png",
			"https://fermartini.github.io/imggastapp/skills/css.png",
			"https://fermartini.github.io/imggastapp/skills/js.png",
		],
		pagina: "https://pablocm.vercel.app/",
		codigo: "https://github.com/fermartini/pablocm",
		img: "https://fermartini.github.io/imggastapp/proyectos/pablocm.png",
	},
};
---

<Layout title="Fernando Martini - Portfolio">
	<main class="">
		<Header />
		<section class="h-screen flex justify-center items-center flex-col">
			<div class="mb-5">
				<button
					id="openModal"
					class="relative overflow-hidden border text-white border-red-500 bg-slate-950 rounded-xl py-1 px-2 transition-colors duration-300 ease-in-out hover:text-black hover:bg-red-400 hover:border-red-400"
				>
					<span
						class="absolute inset-0 border-2 border-red-500 transform scale-x-0 hover:scale-x-100 origin-left transition-transform duration-300 ease-in-out"
					></span>
					Descargar CV
				</button>
			</div>

			<div class="flex flex-col items-center">
				<h1 class="text-white text-5xl lg:text-8xl mb-5 text-center">
					Desarrollador
				</h1>
				<h3 class="text-red-500 text-3xl">de software.</h3>
			</div>
			<svg class="animate-bounce w-6 h-6 ... text-white">
				HOLA QUE TAL
			</svg>
		</section>
		<section class="h-full w-fit flex flex-col mx-5 lg:mx-10 xl:mx-60">
			<h2
				class="text-3xl xl:text-8xl font-extrabold text-white pb-10 lg:pb-24"
			>
				PROYECTOS
			</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
				{
					Object.values(proyectos).map(
						({
							nombre,
							descripcion,
							tecno,
							pagina,
							codigo,
							img,
							tecnoImg,
						}) => (
							<div class="w-fit">
								<Proyecto
									title={nombre.toUpperCase()}
									description={descripcion}
									tecno={tecno}
									pagina={pagina}
									codigo={codigo}
									img={img}
									tecnoImg={tecnoImg}
								/>
							</div>
						),
					)
				}
			</div>
		</section>
		<section class="w-fit flex flex-col mx-10 mb-22 lg:mx-10 xl:mx-60 lg:mb-36">
			<h2
				class="text-3xl text-nowrap  xl:text-8xl font-extrabold text-white  pb-10"
			>
				QUIEN ES <span class="text-red-500">FERNANDO</span>?
			</h2>
			<div class="grid grid-cols-1  lg:grid-cols-2 ">
				<div class="flex flex-col justify-center">
					<p class="text-white text-sm lg:text-xl">
						Soy estudiante de la Tecnicatura en <span
							class="text-red-500">Desarrollo de Software</span
						>, con el 50% de la carrera completada.
						<p class="text-white text-sm lg:text-xl pt-5">Y un sólido
							trasfondo en el área administrativa, acumulando 10 años
							de <span class="text-red-500">experiencia</span> en roles
							claves.</p>
					</p>
					<div class="mt-3 lg:mt-10">
						<h3 class="text-white lg:text-5xl text-3xl lg:mb-5 mb-2">Contactame</h3>
						<div class="flex gap-3 lg:gap-7">
							<a
								href="mailto:fermartini.dev@gmail.com"
								target="_blank"
								class="p-0 hover:scale-150 transition-transform transition-duration-150"
								><Mail
									clase="text-red-500 hover:text-white w-6 lg:w-8"
								/></a
							>
							<a
								href="https://www.linkedin.com/in/fermartini/"
								target="_blank"
								class="p-0 hover:scale-125 transition-transform transition-duration-150"
								><Llamada
									clase="text-red-500 hover:text-white w-5 lg:w-8"
								/></a
							>
							<a
								href="https://github.com/fermartini"
								target="_blank"
								class="p-0 hover:scale-125 transition-transform transition-duration-150"
							>
								<Github
									clase="text-red-500 hover:text-white w-6 lg:w-8"
								/></a
							>
							<a
								href="https://wa.me/541164618667"
								target="_blank"
								class="p-0 hover:scale-125 transition-transform transition-duration-150"
								><Whatsapp
									clase="text-red-500 hover:text-white w-6 lg:w-8"
								/></a
							>
						</div>
					</div>
				</div>
				<div class="flex justify-center mt-5">
					<img
						src="https://fermartini.github.io/imggastapp/perfil/pertfolio-quien.png"
						alt="Fernando"
						class="rounded-full h-80"
					/>
				</div>
			</div>
		</section>
		<footer>
			

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">2024  Desarrollador de Software.
    </span>
    
    </div>
</footer>

	</main>
	<!-- Modal -->
	<div
		id="pdfModal"
		class="fixed inset-0 bg-gray-900 bg-opacity-75 items-center my-10 justify-center hidden"
	>
		<div
			class="relative bg-white rounded-lg m-10 lg:m-52 p-4 w-screen h-screen"
		>
			<!-- Botón de cierre -->
			<button
				id="closeModal"
				class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
				>✕</button
			>

			<!-- Contenido del modal (iframe con PDF) -->
			<iframe src="/CV_Fernando_Martini.pdf" class="w-full h-screen"
			></iframe>
		</div>
	</div>
</Layout>

<script>
	const openModal = document.getElementById("openModal");
	const closeModal = document.getElementById("closeModal");
	const pdfModal = document.getElementById("pdfModal");

	openModal.addEventListener("click", () => {
		pdfModal.classList.remove("hidden");
		pdfModal.classList.add("flex");
	});

	closeModal.addEventListener("click", () => {
		pdfModal.classList.add("hidden");
		pdfModal.classList.remove("flex");
	});

	window.addEventListener("click", (e) => {
		if (e.target == pdfModal) {
			pdfModal.classList.add("hidden");
		}
	});
</script>

<style></style>
