---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Proyecto from "../components/Proyecto.astro";
import { object } from "astro/zod";

const proyectos = {
	gastapp: {
		nombre: "GastApp",
		descripcion: "App Web para gestionar Ingresos y gastos",
		tecno: [
			"React",
			".Net",
			"SQl server",
		],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/react.png",
			"https://fermartini.github.io/imggastapp/skills/net.png",
			"https://fermartini.github.io/imggastapp/skills/sql.png",
		],
		pagina: "https://gastapp-omega.vercel.app/",
		codigo: "https://github.com/fermartini/gastapp",
		img: "https://fermartini.github.io/imggastapp/proyectos/gastapp.png",
	},
	maxiprograma: {
		nombre: "Martini APP",
		descripcion: "CRUD Gestiona productos",
		tecno: [".Net", "C#", "SQL server"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/net.png",
			"https://fermartini.github.io/imggastapp/skills/c.png",
			"https://fermartini.github.io/imggastapp/skills/sql.png",
		],
		pagina: "https://github.com/fermartini/CatalogoOnlineMaxiPrograma",
		codigo: "https://github.com/fermartini/CatalogoOnlineMaxiPrograma",
		img: "https://fermartini.github.io/imggastapp/proyectos/maxiprograma.png",
	},
	catalogo: {
		nombre: "Catalogo Bric Home",
		descripcion: "Catalogo para una empresa de muebles",
		tecno: ["HTML", "CSS", "JavaScript"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/html.png",
			"https://fermartini.github.io/imggastapp/skills/css.png",
			"https://fermartini.github.io/imggastapp/skills/js.png",
		],
		pagina: "https://brichome.vercel.app/",
		codigo: "https://github.com/fermartini/brichome",
		img: "https://fermartini.github.io/imggastapp/proyectos/catalogo.png",
	},
	community: {
		nombre: "CM Pablo Aubain",
		descripcion: "Ofrece servicios de Community manager",
		tecno: ["HTML", "CSS", "JavaScript"],
		tecnoImg: [
			"https://fermartini.github.io/imggastapp/skills/html.png",
			"https://fermartini.github.io/imggastapp/skills/css.png",
			"https://fermartini.github.io/imggastapp/skills/js.png",
		],
		pagina: "https://pablocm.vercel.app/",
		codigo: "https://github.com/fermartini/pablocm",
		img: "https://fermartini.github.io/imggastapp/proyectos/pablocm.png",
	}
};
---

<Layout title="Fernando Martini - Portfolio">
	<main class="">
		<Header />
		<section class="h-screen flex justify-center items-center flex-col">
			<div class="mb-5">
				<button
					id="openModal"
					class="relative overflow-hidden border text-white border-red-500 bg-slate-950 rounded-xl py-1 px-2 transition-colors duration-300 ease-in-out hover:text-black hover:bg-red-400 hover:border-red-400"
				>
					<span
						class="absolute inset-0 border-2 border-red-500 transform scale-x-0 hover:scale-x-100 origin-left transition-transform duration-300 ease-in-out"
					></span>
					Descargar CV
				</button>
			</div>

			<div class="flex flex-col items-center">
				<h1 class="text-white text-5xl lg:text-8xl mb-5 text-center">
					Desarrollador
				</h1>
				<h3 class="text-red-500 text-3xl">de software.</h3>
			</div>
		</section>
		<section class="h-screen w-fit flex flex-col lg:mx-10 xl:mx-60">
			<h2 class="text-xl xl:text-8xl font-extrabold text-white py-10">
				PROYECTOS
			</h2>
			<div
				class="grid grid-cols-1 lg:grid-cols-2 gap-10"
			>
				{
					Object.values(proyectos).map(
						({
							nombre,
							descripcion,
							tecno,
							pagina,
							codigo,
							img,
							tecnoImg,
						}) => (
							<div class="w-fit">
								<Proyecto
									title={nombre.toUpperCase()}
									description={descripcion}
									tecno={tecno}
									pagina={pagina}
									codigo={codigo}
									img={img}
									tecnoImg={tecnoImg}
								/>
							</div>
						),
					)
				}
			</div>
		</section>
	</main>
	<!-- Modal -->
	<div
		id="pdfModal"
		class="fixed inset-0 bg-gray-900 bg-opacity-75 items-center my-10 justify-center hidden"
	>
		<div
			class="relative bg-white rounded-lg m-10 lg:m-52 p-4 w-screen h-screen"
		>
			<!-- Botón de cierre -->
			<button
				id="closeModal"
				class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
				>✕</button
			>

			<!-- Contenido del modal (iframe con PDF) -->
			<iframe src="/CV_Fernando_Martini.pdf" class="w-full h-screen"
			></iframe>
		</div>
	</div>
</Layout>

<script>
	const openModal = document.getElementById("openModal");
	const closeModal = document.getElementById("closeModal");
	const pdfModal = document.getElementById("pdfModal");

	openModal.addEventListener("click", () => {
		pdfModal.classList.remove("hidden");
		pdfModal.classList.add("flex");
	});

	closeModal.addEventListener("click", () => {
		pdfModal.classList.add("hidden");
		pdfModal.classList.remove("flex");
	});

	window.addEventListener("click", (e) => {
		if (e.target == pdfModal) {
			pdfModal.classList.add("hidden");
		}
	});
</script>

<style>
	
</style>
