---
import Github from "./iconos/Github.astro";
import Web from "./iconos/Web.astro";

const { title, description, tecno, pagina, codigo, img, tecnoImg, id, id2, gif } =
    Astro.props;
---

<div
    class="block shadow h-full rounded-lg text-surface shadow-secondary-1 bg-surface-dark text-white border-slate-950 col-span-1"
>
    <div
        class="relative overflow-hidden bg-cover bg-no-repeat bg-slate-950 border-slate-950"
    >
        <img
            id=`${id}`            
            class="rounded-t-lg inset-0 transition-opacity duration-300"
            src={img}
            alt={title}
        />
        <img
            id=`${id2}`
            class="rounded-t-lg absolute inset-0 opacity-0 transition-opacity duration-300"
            src={gif}
            alt={title}
        />
    </div>
    <div>
        <h4 class="text-3xl text-center py-4 bg-slate-950">{title}</h4>
    </div>
    <div class="grid grid-cols-3">
        {
            tecno.map((tec, i) => (
                <div class="text-center text-sm font-medium me-2 px-2.5 py-0.5 rounded bg-gray-800 text-white-300 flex justify-center mb-3 col-span-1 items-center hover:bg-red-800 transition-colors duration-200 ">
                    <span class="text-nowrap">{tec} </span>
                    <div class="flex justify-center pl-2">
                        <img
                            src={tecnoImg[i]}
                            alt={tec}
                            class="w-auto h-4"
                        />
                    </div>
                </div>
            ))
        }
    </div>
    <div class="h-full w-full bg-slate-950">
        <div
            class="h-48 w-full  bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
        >
            <div class="flex justify-center gap-10 z-10 py-5">
                <a
                    href={codigo}
                    target="_blank"
                    class="flex text-xs flex-col items-center"
                    ><Github
                        w="30"
                        clase="text-red-800 z-10 pb-2 hover:scale-125 hover:text-red-400 transition-all duration-300 "
                    /> Codigo</a
                >
                <a
                    href={pagina}
                    target="_blank"
                    class="z-10 flex text-xs flex-col items-center"
                    ><Web
                        w="30"
                        clase="text-red-800 z-10 pb-2 hover:scale-125 hover:text-red-400 transition-all duration-300"
                    /> Web</a
                >
            </div>
            
        </div>
        <div>
            
        </div>
    </div>
    
</div>

<script>
        document.addEventListener('DOMContentLoaded', () => {
            const staticImg = document.getElementById('1');
            const staticImg1 = document.getElementById('3');
            const staticImg2 = document.getElementById('5');
            const staticImg3 = document.getElementById('7');
            const animatedImg = document.getElementById('2');
            const animatedImg1 = document.getElementById('4');
            const animatedImg2 = document.getElementById('6');
            const animatedImg3 = document.getElementById('8');
            const container = staticImg.parentElement;
            const container1 = staticImg1.parentElement;
            const container2 = staticImg2.parentElement;
            const container3 = staticImg3.parentElement;

            container.addEventListener('mouseenter', () => {
                staticImg.style.opacity = '0';
                animatedImg.style.opacity = '1';
                console.log('hp;a');
                
            });

            container.addEventListener('mouseleave', () => {
                staticImg.style.opacity = '1';
                animatedImg.style.opacity = '0';
            });
            container1.addEventListener('mouseenter', () => {
                staticImg1.style.opacity = '0';
                animatedImg1.style.opacity = '1';
                console.log('hp;a');
                
            });

            container1.addEventListener('mouseleave', () => {
                staticImg1.style.opacity = '1';
                animatedImg1.style.opacity = '0';
            });
            container2.addEventListener('mouseenter', () => {
                staticImg2.style.opacity = '0';
                animatedImg2.style.opacity = '1';
                console.log('hp;a');
                
            });

            container2.addEventListener('mouseleave', () => {
                staticImg2.style.opacity = '1';
                animatedImg2.style.opacity = '0';
            });
            container3.addEventListener('mouseenter', () => {
                staticImg3.style.opacity = '0';
                animatedImg3.style.opacity = '1';
                console.log('hp;a');
                
            });

            container3.addEventListener('mouseleave', () => {
                staticImg3.style.opacity = '1';
                animatedImg3.style.opacity = '0';
            });
        });
    </script>